{%include 'header.html' %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid text-center">
      <h1 class="mt-5">Telkom University</h1>
      <h1 class="mt-5">Skripsi Judul</h1>
      <!-- <img src="{{ url_for('static', filename='dist/img/telyu.png') }}" width="300" alt="" /> -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid"></div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
{%include 'footer.html' %}
